[submodule "samples"]
	path = samples
	url = git@github.com:pannous/english-script-samples.git
[submodule "kast"]
	path = kast
	url = https://github.com/pannous/kast
	branch = master
[submodule "netbase-python"]
	path = netbase-python
	url = https://github.com/pannous/netbase-python
	branch = master
