[submodule "samples"]
	path = samples
	url = https://github.com/pannous/english-script-samples
	branch = master
[submodule "kast"]
	path = kast
	url = https://github.com/pannous/kast
	branch = master
[submodule "netbase-python"]
	path = netbase-python
	url = https://github.com/pannous/netbase-python
	branch = master
[submodule "EnglishScript.tmbundle"]
	path = EnglishScript.tmbundle
	url = https://github.com/pannous/EnglishScript.tmbundle
	branch = master
