*.pyc
.AppleDouble
.*/.AppleDouble
.coverage
tests/emitted.py
intellij-angle-plugin
emitted.py
inline*.
.*/inline.*
.*/.*pyc
core/inline
pythonenv3.8
pythonenv3.8/**
core/inline.py
tests.sh
tests/inline
tests/inline.py
out
tests/out
.cache/
.pypirc
LICENSE.txt
SEE_pyparsing
THREADS_ARE_JUST_FINE
angle.egg-info/
#angle.js/
angle/pyc_emitter.py.uiui
ast_eval_inline.py
build/
coconut/
dist/
increase-package-version.py
lyri/
neo/
test.py
tox.ini
upload_to_pip.shWISHLIST.txt
WISHLIST.txt
upload_to_pip.sh
package-lock.json
node_modules/
.idea/
record.wav
angle.js/.flowconfig
angle.js/tsconfig.json
inline
angle.js
out*
out.*
